<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">原始数据</div>

<script src="src/main.js"></script>
<script>
    const App = new Vue({
        el: '#app',
        data: {
            title: '双向绑定简单实现3',
            innerData: {
                childTitle: '学习js',
                content: '整个牛项目2',
            },
            value: 1,
            str1: '文本1',
            str2: '文本2',
            bindValue: '通过v-text挂载的值'
        },
        template: `
            <div>
                <h1 v-show="innerData.content">{{ title }}</h1>
                {{ innerData.childTitle + ' ' + innerData.content }}
                <span>title:</span>
                <input v-model="innerData.childTitle" />
                <span>content:</span>
                <input v-model="innerData.content" />
            </div>
        `
    })
    console.log(App)
</script>
</body>
</html>